
composer.lock
vendor/
.idea/
funcAcl/
generis/
tao/
taoBackOffice/
taoDelivery/
taoDeliveryRdf/
taoEventLog/
taoGroups/
taoItems/
taoOutcomeUi/
taoQtiItem/
taoQtiTest/
taoResultServer/
taoTestTaker/
taoTests/
